TEST_TASK_APP_DEBUG=
TEST_TASK_APP_BASE_URL=
TEST_TASK_APP_DB__PROVIDER=
TEST_TASK_APP_DB__HOST=
TEST_TASK_APP_DB__PORT=
TEST_TASK_APP_DB__USER=
TEST_TASK_APP_DB__PASSWORD=
TEST_TASK_APP_DB__NAME=
TEST_TASK_APP_CORS_ORIGINS=
TEST_TASK_APP_SECRET_KEY=